.footer {
	display: flex;
	font-family: "Roboto", sans-serif;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	border-top: 1px solid var(--color-divider);
	color: var(--color-white);
	height: 7vh;
	z-index: 10;
	direction: rtl;

	.social-links {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 10px;

		a {
			transition: opacity 0.3s;

			&:hover {
				opacity: 0.7;
			}
		}
	}

	.invite-text {
		text-align: center;
	}

	.quote-link {
		font-size: 14px; /* Even smaller for a minimalist feel */
		color: #777; /* Slightly lighter shade for minimalism */
		// position: relative;

		a {
			text-decoration: none;
			color: inherit; /* No change in color from parent */
			transition: color 0.3s ease;

			&:hover {
				color: #555; /* A subtle hover effect */
			}
		}
	}
}
