.page-header {
	display: flex;
	justify-content: space-between;
	padding: 20px 20px;
	background-color: var(--color-blue);
	height: 15vh;
	z-index: 999;
	width: 100%;
	top: 0;
	color: var(--color-white);
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Added shadow for depth */
}

.left-section,
.middle-section,
.right-section {
	display: flex;
	align-items: center;
	width: 33%;
}

Banner h1 {
	margin: 0;
	font-size: 32px;
	font-weight: bold; /* Make it bold for emphasis */
	display: flex;
	align-items: center;
	color: var(--color-white);
}

/* Mobile Styles */
@media (max-width: 768px) {
	.header-content {
		display: inline;
	}

	.left-section,
	.middle-section,
	.right-section {
		gap: 10px; /* Maintain space between elements */
	}

	.right-section {
		width: 50vw;
	}

	.banner-icon {
		fill: var(--color-white); /* Control the SVG color via CSS */
		display: none;
	}
}
