.page-header {
	display: flex;
	padding: 20px 17px;
	background-color: var(--color-blue);
	background-image: none;
	height: 85px;
	position: sticky;
	z-index: 999;
	width: 100%;
	top: 0;
	color: var(--color-white);

	.main-title {
		width: 100%;
		color: var(--color-white);
		display: flex;
		align-items: center;
		justify-content: space-between;
		svg {
			margin-inline-end: 10px;
		}
		h1 {
			padding: 0;
			margin: 0;
			font-size: 32px;
			font-weight: 400;
			display: flex;
			align-items: center;
		}
	}
}

.main-title {
	h1 {
		display: inline-block;
		color: #fff;
		border-radius: 5px;
		cursor: pointer;
	}
	a,
	a:hover {
		text-decoration: none;
	}
}


.main-subtitle {
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	text-align: center;
	padding-block-start: 8px;
}

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
	color: var(--header-text-color);
	font-weight: 500;
}

.contribute-button {
	background-color: var(--color-white);
	border-radius: 30px;
	color: var(--text-color);
	font-size: 14px;
	padding: 8px 10px;
	margin-right: 10px;
	transition: transform 0.3s ease;

	&:hover {
		transform: scale(1.05);
	}
}

#rightElement {
	display: flex;
	align-items: center;
}
