// Variables
$icon-hover-filter: brightness(120%);
$icon-hover-scale: scale(1.1);

// Utility for icons that share common styles
.icon-common-styles {
	height: auto;
	margin: 0 5px;

	&:hover {
		filter: $icon-hover-filter;
		transform: $icon-hover-scale;
	}
}

.link-icon,
.link-initiative-icon {
	@extend .icon-common-styles;
	width: 30px;
}

.link-initiative-icon {
	@extend .icon-common-styles;
	width: 60px;
}

.category-icon {
	@extend .icon-common-styles;
	width: 25px;
}

.link-icons {
	display: flex;
}

// Common styles for sharing buttons
.share-button-common {
	width: fit-content;
	height: 35px;
	font-size: 1.2rem;
	line-height: 35px;
	cursor: pointer;

	&:hover {
		filter: brightness(120%);
		font-size: 1.3rem;
	}
}

.share-mobile-btn,
.share-btn,
.whatsapp-btn,
.telegram-btn {
	@extend .share-button-common;
}

.whatsapp-btn {
	color: #25d366;
}

.telegram-btn {
	color: #0088cc;
}

.copy-icon {
	font-variation-settings:
		"FILL" 0,
		"wght" 400,
		"GRAD" 0,
		"opsz" 24;
}

.mainButton {
	background-color: #007bff;
	color: #fff;
	padding: 10px 20px;
	border-radius: 5px;
	text-decoration: none;
	transition: background-color 0.2s;
	display: inline-block;

	&:hover {
		transform: scale(1.05);
		background-color: #0056b3;
	}
}
