@mixin shared-hover-effect() {
	filter: brightness(120%);
	font-size: 1.3rem;
}

.links-section {
	h2 {
		display: flex;
		align-items: center;
		margin: 0;
	}

	.share-container {
		margin-bottom: 1rem;
	}
}

.links-section-title {
	display: flex;
	align-items: center;
	padding: 16px;
	gap: 10px;
	cursor: pointer;
	user-select: none;

	& > h2 {
		flex: 1;
	}

	&::-webkit-details-marker {
		display: none;
	}
}

.link-tags-list {
	display: none;
	flex-flow: row wrap;
	gap: 8px;
	width: 100%;

	.tag {
		display: none;
		background-color: var(--color-title-blue);
		border: 1px solid var(--color-link);
		border-radius: 8px;
		color: var(--color-white);
		font-size: 12px;
		margin: 0;
		padding: 4px 16px;
	}
}

.links-section-list {
	display: flex;
	flex-flow: row wrap;
	width: 100%;
}

.links-section-item {
	position: relative;
	p {
		font-size: 0.9rem; // Adjust this value as desired
		font-weight: 400;
	}

	.more-btn {
		display: flex;
		justify-content: end;
		padding-block: 10px;
	}

	padding: 16px 24px;
	border-radius: 15px;
	margin-top: 10px;
	max-width: 300px; // You can adjust this value as needed
	max-height: 230px; // You can adjust this value as needed
	overflow-y: auto; // Makes the content inside scrollable if it exceeds max-height

	background: linear-gradient(to bottom right, #e6e9ec, #f5f7fa);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	transition:
		box-shadow 0.3s ease,
		transform 0.3s ease;

	&:hover {
		background: linear-gradient(to bottom right, #d4d9dd, #e2e7ea);
		box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
		transform: translateY(-3px);
	}
}

.links-section-item-title {
	font-size: 16px;
	font-weight: 600;
}
.links-section-item-short-description {
	font-size: 14px;
	font-weight: 400;
}

.share-button-style {
	width: fit-content;
	height: 35px;
	font-size: 1.2rem;
	line-height: 35px;
	cursor: pointer;

	&:hover {
		@include shared-hover-effect;
	}
}

.share-mobile-btn,
.share-btn,
.whatsapp-btn,
.telegram-btn {
	@extend .share-button-style;
}

.main-content {
	padding: 0 10px;
	max-width: 100vw;
	border-block-start: solid 1px var(--color-divider);

	& .desktop-open {
		background-color: var(--color-divider);

		// .open-caret {
		// 	box-shadow: 0px 0px 0px 7px var(--color-dark);
		// 	border-radius: 100%;
		// 	background: var(--color-dark);
		// 	color: var(--color-white);
		// 	display: flex;
		// 	justify-content: center;
		// 	align-items: center;
		// }
	}

	.desktop-grid {
		display: grid;
		grid-template-columns: max(17%) 1fr;
		gap: 8px;

		// .open-caret {
		// 	transform: rotate(90deg);
		// }
	}

	.desktop-category {
		height: calc(100vh - 100px);
		overflow-y: scroll;
	}

	.category-description {
		font-size: x-large;
		font-weight: bolder;
	}

	.desktop-content {
		display: block;
		height: calc(100vh - 100px);
		width: 100%;
		justify-self: center;
		overflow-y: auto;
		top: 0;

		h1,
		h2,
		h3,
		h4,
		h5,
		p {
			grid-area: span 1 / span 3;
		}

		.share-container {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			gap: 15px;
			padding: 15px;
			border-radius: 10px;
			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

			&:hover {
				box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
			}
		}
		.links-subcategory-header {
			font-size: large;
			font-weight: 600;
			margin-top: 30px;
			margin-inline: 10px;
		}

		.links-section-subcategory {
			display: flex; // Makes it a flex container
			flex-shrink: 0;
			flex-wrap: nowrap; // Prevents content from wrapping
			gap: 16px;
			border-radius: 5px;
			overflow-x: auto; // Horizontal scrolling
			transition: background-color 0.3s ease;
		
			&:hover {
				background-color: rgba(200, 200, 200, 0.15);
			}
			
			// Optional: Style the scrollbar for a neater appearance
			&::-webkit-scrollbar {
				height: 6px;
				background-color: transparent;
			}
		
			&::-webkit-scrollbar-thumb {
				border-radius: 3px;
				background-color: rgba(0, 0, 0, 0.2);
			}
		}
	}

	.links-section {
		position: relative;

		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 1px;
			height: 100%;
			background-color: var(--color-divider);
			filter: blur(1px);
			pointer-events: none;
		}

		& .links-section-title {
			// width: 100%;

			&:not(:last-of-type) {
				border-block-end: solid 1px var(--color-divider);
			}
		}
	}

	.links-section-content {
		--link-font-size: 16px;
		overflow: hidden;
		padding: 25px;
		hr {
			display: none;
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		p {
			grid-area: span 1 / span 2;
		}

		li {
			padding: 10px;
			margin: 10px;
		}

		ul {
			padding-block-end: 10px;
			padding-inline-start: 0;
			list-style: none;

			li {
				a {
					align-items: center;
					flex-direction: column;
					justify-content: center;
					padding: 10px 16px;
					text-align: center;
					width: 80%;
				}
			}
		}
	}
}
