@mixin shared-hover-effect() {
	filter: brightness(120%);
	font-size: 1.3rem;
}

.popup-link-btn {
	display: inline-block;
	padding: 10px 20px;
	background-color: #007bff; // For instance, a blue color
	color: white;
	text-decoration: none;
	border-radius: 5px;
	margin-top: 10px;
	transition: background-color 0.3s ease;
	justify-self: left;

	/* hover effect */
	&:hover {
		background-color: #0056b3;
	}
}

.item-container {
	height: 95%;
	overflow-y: auto;
	padding: 0px 10px;
}

.share-button-style {
	width: fit-content;
	height: 35px;
	font-size: 1.2rem;
	line-height: 35px;
	cursor: pointer;

	&:hover {
		@include shared-hover-effect;
	}
}

.share-mobile-btn,
.share-btn,
.whatsapp-btn,
.telegram-btn {
	@extend .share-button-style;
}

.main-content {
	max-width: 100vw;
	height: 85vh;

	& .desktop-open {
		border-color: var(--color-blue);
	}

	.desktop-grid {
		display: flex;
		gap: 8px;
		height: 100%;
		text-wrap: nowrap;
	}

	.desktop-content {
		display: block;
		width: 100%;
		height: calc(100vh - 210px);
		overflow-y: auto;
		overflow-x: hidden;
		padding: 0 10px;

		h1,
		h2,
		h3,
		h4,
		h5,
		p {
			grid-area: span 1 / span 3;
		}

		.search-category-title {
			font-size: 2rem;
			font-weight: 600;
			margin-top: 10px;
		}
	}
}

@media only screen and (max-width: 768px) {
	.main-content .desktop-content {
		margin-inline: 0;
	}
	.main-content {
		display: flex;
		flex-direction: column;
		height: 85svh;
		max-width: 64em;
		font-size: 1rem;
		overflow-y: hidden;

		.desktop-grid {
			position: relative;
			display: block;
		}
	}
}
