@mixin shared-hover-effect() {
	filter: brightness(120%);
	font-size: 1.3rem;
}

.links-section {
	h2 {
		display: flex;
		align-items: center;
		margin: 0;
	}

	.share-container {
		margin-bottom: 1rem;
	}
}

.link-initiative-icon-bg {
	height: 100%;
	width: 90%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	position: absolute;
	top: 0;
	left: 5%;
	filter: opacity(0.2);
}

.links-section-title {
	display: flex;
	align-items: center;
	padding: 16px 10px 16px 16px;
	gap: 10px;
	cursor: pointer;
	user-select: none;

	& > h2 {
		flex: 1;
	}

	&::-webkit-details-marker {
		display: none;
	}
}

.link-tags-list {
	display: none;
	flex-flow: row wrap;
	gap: 8px;
	width: 100%;

	.tag {
		display: none;
		background-color: var(--color-title-blue);
		border: 1px solid var(--color-link);
		border-radius: 8px;
		color: var(--color-white);
		font-size: 12px;
		margin: 0;
		padding: 4px 16px;
	}
}

.links-section-list {
	display: flex;
	flex-direction: column;
	width: 100%;
	overflow-x: hidden;
}

.links-section-item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	p {
		font-size: 0.9rem; // Adjust this value as desired
		font-weight: 600;
	}

	.more-btn {
		display: flex;
		justify-content: end;
		padding-block: 10px;
	}

	padding: 16px 24px;
	border-radius: 15px;
	margin-top: 10px;
	min-width: 250px; // You can adjust this value as needed
	max-width: 350px;
	height: 150px; // You can adjust this value as needed
	overflow-y: auto; // Makes the content inside scrollable if it exceeds max-height

	background: linear-gradient(to bottom right, #e6e9ec, #f5f7fa);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	transition:
		box-shadow 0.3s ease,
		transform 0.3s ease;

	&:hover {
		background: linear-gradient(to bottom right, #d4d9dd, #e2e7ea);
		box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
		transform: translateY(-3px);
	}
	&:has(.link-initiative-icon-bg) {
		a {
			text-shadow: 1px 1px var(--color-white);
		}
	}
}

.popup-link-btn {
	display: inline-block;
	padding: 10px 20px;
	background-color: #007bff; // For instance, a blue color
	color: white;
	text-decoration: none;
	border-radius: 5px;
	margin-top: 10px;
	transition: background-color 0.3s ease;
	justify-self: left;

	/* hover effect */
	&:hover {
		background-color: #0056b3;
	}
}

.links-section-item-title {
	font-size: 17px;
	font-weight: 900;
	position: relative;
	z-index: 2;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.links-section-item-short-description {
	font-size: 14px;
	font-weight: 600;
	white-space: normal;
	overflow: hidden;
	-webkit-line-clamp: 2;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}

.item-container {
	height: 95%;
	overflow-y: auto;
	padding: 0px 10px;
}

.share-button-style {
	width: fit-content;
	height: 35px;
	font-size: 1.2rem;
	line-height: 35px;
	cursor: pointer;

	&:hover {
		@include shared-hover-effect;
	}
}

.share-mobile-btn,
.share-btn,
.whatsapp-btn,
.telegram-btn {
	@extend .share-button-style;
}

.main-content {
	max-width: 100vw;
	height: 85vh;

	& .desktop-open {
		background-color: var(--color-divider);
	}

	.desktop-grid {
		display: flex;
		gap: 8px;
		height: 100%;
		text-wrap: nowrap;
	}

	.desktop-category {
		overflow-y: scroll;
		overflow-x: hidden;
	}

	.menu-close {
		width: 62px;
		transition: width .2s ease-out;
	}

	.menu-open {
		width: 300px;
		transition: width .2s ease-in;
	}

	.category-description {
		font-size: larger;
		font-weight: bolder;
		text-wrap: wrap;
	}

	.desktop-content {
		display: block;
		width: 100%;
		height: 100%;
		overflow-y: auto;
		overflow-x: hidden;
		padding: 0 10px;

		h1,
		h2,
		h3,
		h4,
		h5,
		p {
			grid-area: span 1 / span 3;
		}

		.search-category-title {
			font-size: 2rem;
			font-weight: 600;
			margin-top: 10px;
		}

		.share-container {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			gap: 15px;
			padding-top: 10px;
		}
		
		.links-subcategory-header {
			font-size: large;
			font-weight: 600;
			margin-top: 13px;
			margin-inline: 10px;
		}

		.links-section-subcategory {
			display: flex;
			gap: 16px;
			border-radius: 5px;
			transition: background-color 0.3s ease;
			overflow-x: scroll;
			scroll-snap-type: x mandatory;
			scroll-snap-align: center;
			padding: 0 10px;
			padding-block-end: 10px;

			// Optional: Style the scrollbar for a neater appearance
			&::-webkit-scrollbar {
				height: 6px;
				background-color: transparent;
			}

			&::-webkit-scrollbar-thumb {
				border-radius: 3px;
				background-color: rgba(0, 0, 0, 0.2);
			}
		}
	}

	.links-section {
		position: relative;

		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 1px;
			height: 100%;
			background-color: var(--color-divider);
			filter: blur(1px);
			pointer-events: none;
		}
	}

	.links-section-content {
		--link-font-size: 16px;
		overflow: hidden;
		hr {
			display: none;
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		p {
			grid-area: span 1 / span 2;
		}

		li {
			padding: 10px;
			margin: 10px;
		}

		ul {
			padding-block-end: 10px;
			padding-inline-start: 0;
			list-style: none;

			li {
				a {
					align-items: center;
					flex-direction: column;
					justify-content: center;
					padding: 10px 16px;
					text-align: center;
					width: 80%;
				}
			}
		}
	}
}
