@media only screen and (max-width: 600px) {
	.links-section-item-short-description {
		display: flex;
	}

	.links-section-title {
		font-size: 24px; // Increase the title size for clarity
		font-weight: 900;
		position: relative;
		z-index: 2;
	}

	.links-section-subcategory {
		display: flex;
		flex-wrap: nowrap; // Prevent content from wrapping to the next line
		overflow-x: scroll; // Enables horizontal scrolling if content overflows
		overflow-y: hidden; // Prevents vertical scrolling
		white-space: nowrap; // Prevents contents from wrapping onto next line
		max-height: 30vh;
		max-width: 100vw;
		padding-inline-end: 150px; // Reduce the padding for more visible space
		margin-bottom: 15px;
		scroll-snap-type: x mandatory;
		scroll-padding: 50%;
		scroll-snap-align: center;
		//scroll snap
		-webkit-overflow-scrolling: touch; // Smooth scrolling on iOS devices
		// Targeting inner items within the scrollable area
		.links-section-item {
			flex: 1 0 50%; // This sets the item to take up half the container's width
		}
	}

	.links-subcategory-header {
		font-size: 22px; // Slightly increase the font size for headers
		margin-top: 25px;
		margin-bottom: 10px;
	}

	.links-section {
		align-items: center;
		border-radius: 4px;
		background-color: #eaeaea;
		margin-block-end: 8px;
		display: flex;
		flex-direction: column;
		width: 90vw;
		overflow: hidden;
		padding: 15px; // Add padding inside sections for better spacing
		margin: 15px auto;

		.links-section-content {
			display: block;
			width: 100%;

			hr {
				display: block;
			}

			ul li a {
				font-size: 16px;
				padding: 15px;
				overflow: hidden;
				width: 80%;
			}
		}
	}

	.links-section-item {
		flex-basis: 100%;
		width: 50%;
		overflow: hidden;
		white-space: normal;
		border-color: #aba6a6;
		border-width: 5px ;
		border-style: solid;
		
	}

	.category-icon {
		margin-left: 10px;
	}

	.main-content {
		max-width: 64em;
		// padding: 2rem 1rem;
		font-size: 1rem;
		padding: 20px 15px; // Increase side padding for better spacing
		overflow-y: scroll;

		.desktop-category {
			height: auto;
			justify-content: center;
			align-items: center;
		}

		.desktop-content {
			display: none;
		}

		.desktop-grid {
			display: block;
		}
	}

	::-webkit-scrollbar {
		display: none;
	}
}
