// Variables
$primary-color: #1e6bb8;
$search-width: 400px;
$search-height: 44px;
$rounded-border: 20px;
$common-padding: 10px;

// Mixins
@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

// Base styles
a {
	cursor: pointer;
}

// Web search styles
#webSearchWrapper {
	margin-right: $common-padding;
}

#searchOverlayWeb {
	position: fixed;
	padding-top: 119px;
	inset: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(6px);
	z-index: 3;
}

#searchInputWeb {
	color: initial;
	width: 100%;
}

// Search input container
.search-div {
	@include flex-center;
}

.search-wrapper {
	@include flex-center;
	background-color: #fff;
	width: $search-width;
	height: $search-height;
	border-radius: $rounded-border;
	padding: 0 $common-padding;
}

.search-input {
	border: 0;
	outline: none;
}

// Search results container
.search-results-div {
	@include flex-center;
	margin-top: $common-padding;
}

#search-results {
	list-style-type: none;
	padding-right: 0;
}

.search-results-wrapper {
	height: 380px;
	width: $search-width;
	background-color: #fff;
	border-radius: $rounded-border;
	overflow: scroll;
	padding: 0 $common-padding;
}

.searchResultItem {
	@include flex-center;
	justify-content: space-between;
	height: 48px;
}

.searchResultLinks a {
	color: $primary-color;
}

.searchResultTitle {
	text-align: right;
	max-width: 50%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

// Mobile-specific styles
.mobile-search-button {
	display: none;
}

// Web search results
.search-results-div-web {
	@include flex-center;
	top: 20px;
	width: 80%;
	inset-inline-start: 10%;
	height: 70%;
	position: relative;
}

.search-results-wrapper-web {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	width: 800px;
	border-radius: $rounded-border;
	margin: $common-padding 0;
	padding: 0 $common-padding;
}

#search-results-web {
	list-style-type: none;
	padding: $common-padding;
	overflow: auto;
}

.search-results-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: $common-padding;
}

.close-btn {
	font-size: 1.5rem;
	cursor: pointer;
}

@media only screen and (max-width: 600px) {
	.mobile-search-button {
		display: block;
	}

	#webSearchWrapper {
		display: none;
	}

	.search-wrapper {
		margin-top: 130px;
	}
}
