{
  "useTabs": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["^@(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "printWidth": 70,
        "useTabs": false,
        "trailingComma": "none",
        "arrowParens": "avoid",
        "proseWrap": "preserve",
        "singleQuote": true
      }
    },
    {
      "files": "*.{json,babelrc,eslintrc,remarkrc,prettierrc}",
      "options": {
        "useTabs": false
      }
    }
  ]
}
