.contribute-button {
	font-family: "Consolas", "Monaco", "Source Code Pro", monospace;
	background-color: #2391ff; // Dark background similar to a code editor
	color: #ffffff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	text-decoration: none;
	transition: all 0.3s ease;

	&:hover {
		background-color: #0d05f3; // A brighter color on hover
		box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
		transform: scale(1.05);
	}
}
