<script type="text/javascript">

  window.israelLinks = [

{% for category_name in site.data.categories %}
  {% assign category = site.data.links[category_name]['links'] %}
  {
    "name": "{{ category.name | xml_escape }}",
    "displayName": "{{ category.displayName | xml_escape }}",
    "description": "{{ category.description | xml_escape }}",
    "subCategories": [
    {% for subcategory_name in category.subCategories %}
    {% assign subCategory = site.data.links[category_name][subcategory_name]['links'] %}
        {
          "displayName": "{{ subCategory.displayName | xml_escape }}",
          "name": "{{ subCategory.name | xml_escape }}",
          "links": [
            {% for link in subCategory.links %}
                {
                  "name": "{{ link.name | xml_escape  }}",
                  "categoryId": "{{ category.name | xml_escape  }}",
                  "displayName": "{{ link.displayName | xml_escape  }}",
                  "shortDescription": {{ link.shortDescription | strip_html | strip_newlines | jsonify }},
                  "description": {{ link.description | strip_html | strip_newlines | jsonify }},
                  "url": "{{ link.url | xml_escape }}",
                  "tags": {{ link.tags | uniq | jsonify }}
                },
            {% endfor %}
          ]
        },
      {% endfor %}
    ]}
    {% unless forloop.last %},{% endunless %}
{% endfor %}

  ];
</script>
<script src="{{ '/assets/js/lunr.js' }}"></script>
<script src="{{ '/assets/js/lunr.stemmer.support.js' }}"></script>
<script src="{{ '/assets/js/lunr.he.js' }}"></script>
<script src="{{ '/assets/js/lunr.multi.js' }}"></script>
<script src="{{ '/assets/js/search.js' }}"></script>