---
---

@import "{{ site.theme }}";

/* === Variables === */
:root {
	--color-background-blue: #f0f8fa;
	--text-color: #000;
	--color-blue: #2b6bff;
	--header-text-color: #170f49;
	--color-light-blue: #dbeafe;
	--color-title-blue: #018bad;
	--color-green: #cbd517;
	--color-white: #fff;
	--color-link: #34b4c2;
	--color-dark: #4d4d4d;
	--link-font-size: 24px;
}

.link-icon {
	width: 30px;
	height: 30px;
	margin: 0 5px;
}

.link-icons {
	display: flex;
	flex-direction: row;
}

body {
	font-family: Rubik, sans-serif;
	color: var(--color-dark);
}

/* === Links Section === */
.links-section {
	align-items: center;
	border-radius: 30px;
	border: 2px solid #0038b8;
	background: var(--color-white);
	min-height: 100px;
	margin-block-end: 16px;
	color: var(--header-text-color);
	display: flex;
	flex-direction: column;

	// &:hover {
	// 	.share-btn,
	// 	.whatsapp-btn,
	// 	.telegram-btn {
	// 		display: inline-block;
	// 	}
	// }

	h2 {
		align-items: center;
		display: flex;
		margin: 0;
	}

	&[open] .open-caret {
		transform: rotate(180deg); /* Flips upward when section is open */
	}
}

.links-section-title {
	align-items: center;
	cursor: pointer;
	display: flex;
	gap: 10px;
	padding: 16px;
	user-select: none;

	& > h2 {
		flex: 1;
	}

	&::-webkit-details-marker {
		display:none;
	}
}

.main-content .links-section-list {
	:first-child {
		margin-top: 10px;
	}
}

.links-section-content {
	--link-font-size: 16px;

	overflow: hidden;
	padding: 25px;

	hr {
		display: none;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	p {
		grid-area: span 1 / span 2;
	}

	li {
		padding: 10px;
		margin: 10px;
	}

	ul {
		padding-block-end: 10px;
		padding-inline-start: 0;
		list-style: none;

		li {
			a {
				align-items: center;
				flex-direction: column;
				justify-content: center;
				padding: 10px 16px;
				text-align: center;
				width: 80%;
			}
		}
	}
}

.link-tags-list {
	display: none;
	flex-flow: row wrap;
	gap: 8px;
	width: 100%;

	.tag {
		display: none;
		background-color: var(--color-title-blue);
		border: 1px solid var(--color-link);
		border-radius: 8px;
		color: var(--color-white);
		font-size: 12px;
		margin: 0;
		padding: 4px 16px;
	}
}

.open-caret {
	background: url("{{ site.baseurl }}/assets/caret.png") no-repeat;
	background-size: contain;
	height: 15px;
	width: 15px;
	transition: transform 0.2s ease;
	transform-origin: center;
}

/* === Header === */
.page-header {
	padding: 40px 80px;
	background-color: var(--color-blue);
	background-image: none;
	height: 119px;
	color: var(--color-white);
	.main-title {
		color: var(--color-white);
		display: flex;
		align-items: center;
		justify-content: space-between;
		svg {
			margin-inline-end: 10px;
		}
		h1 {
			padding: 0;
			margin: 0;
			font-size: 32px;
			font-weight: 400;
		}
	}
}

.main-title h1 {
	display: inline-block;
	padding: 10px 20px;
	background-color: #0073e6;
	color: #fff;
	border-radius: 5px;
	text-decoration: none;
	transition: background-color 0.3s ease;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2); /* Add this line */
}

.main-title h1:hover {
	background-color: #005bb5;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
}

.main-subtitle {
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	text-align: center;
	padding-block-start: 40px;
}

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
	color: var(--header-text-color);
	font-weight: 500;
}

.contribute-button {
	background-color: var(--color-white);
	border-radius: 30px;
	color: var(--text-color);
	font-size: 14px;
	padding: 8px 10px;
	transition: transform 0.3s ease;

	&:hover {
		transform: scale(1.05);
	}
}

.add-site-footer {
	display: flex;
	justify-content: flex-end;
	padding: 32px 50px;
	position: sticky;
	bottom: 0;
}

.add-site-button {
	background-color: var(--color-white);
	border-radius: 38px;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
	color: var(--color-blue);
	font-size: 24px;
	padding: 13px;
	transition: transform 0.3s ease;

	&:hover {
		transform: scale(1.05);
	}
}

.share-mobile-btn,
.share-btn,
.whatsapp-btn,
.telegram-btn {
	width: fit-content;
	margin-inline-start: 15px; /* Increased spacing */
	height: 35px; /* Increased height */
	font-size: 1.2rem; /* Increased font-size */
	line-height: 35px;
	cursor: pointer; /* Add a pointer cursor to indicate clickability */
}
.whatsapp-btn {
	color: #25d366;
}
.telegram-btn {
	color: #0088cc;
}

.copy-icon {
	font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.site-footer {
	direction: ltr;
}

.category-icon {
	width: 70px;
	height: 70px;
}

/* ... (rest of your CSS) ... */

/* === Responsive Design === */
@media only screen and (max-width: 600px) {
	.page-header {
		height: 100px;
		.main-title {
			h1 {
				font-size: 24px;
				display: flex;
			}
		}
	}

	.main-title {
		font-size: 19px;
	}

	.main-subtitle {
		font-size: 24px;
	}

	.contribute-button {
		font-size: 24px;
		left: 0;
	}

	.links-section-content {
		padding: 32px;
		display: block;
		hr {
			display: block;
		}
	}

	.links-section-content ul li a {
		font-size: 16px;
		padding: 15px;
	}

	.links-section-title {
		justify-content: flex-start;
	}

	.category-icon {
		margin-left: 10px;
	}
}

.links-section-list {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	width: 100%;
}

.links-section-subcategory {
	flex-basis: 100%;
	flex-shrink: 0;
	margin-top: 0px;
}

.links-section-item {
	align-items: center;
	display: flex;
	flex-basis: 47%;
	flex-direction: column;
	border-radius: 30px;
	border: 1px solid #5275c7;
}

.links-section-item-short-description {
	font-size: 14px;
	font-weight: 400;
}

@media only screen and (max-width: 600px) {
	.page-header {
		height: 100px;
		padding: 2rem 1rem;
		h1 {
			font-size: 24px;
		}
	}

	.main-title {
		font-size: 19px;
	}

	.main-subtitle {
		font-size: 24px;
		padding: 2rem 1rem;
	}

	.contribute-button {
		font-size: 14px;
		left: 0;
	}

	.links-section-content ul li a {
		font-size: 16px;
		padding: 15px;
	}
	.links-section-item {
		flex-basis: 100%;
		width: 100%;
	}
}
