.welcome-message-container {

	.logo {
		position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	}

	.intro {
		font-size: x-large;
		color: var(--color-blue);
		position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
		text-wrap: balance;
		text-align: center;
		width: 400px;
	}
}